.advantage {
  .reset-list();
}

.advantage__item {
  background-color: @white;
}

.advantage__title {
  font-family: @font-family-title;
  font-weight: 700;
  .font-text(18px; 26px);
  color: @title-color;
}

.advantage__describe {
  .font-text(14px; 21px);
  color: @text-color;
}
