.banner { 
  display: flex;  
  // justify-content: center;
  height: 389px;
  background-color: #6e95bb;
  background-image:  url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");  
  background-size: 320px 26px, cover;
  background-position: center bottom, center;
  background-repeat: no-repeat, no-repeat;

}

  .banner__img {
  width: 281px;
  height: 214px;
  margin: 77px auto 91px;

}

@media (min-width: @tablet-width) {
  .banner {
    height: 518px;
    background-image:  url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-size: auto 57px, cover;
  }

  .banner__img {
    width: 460px;
    height: 350px;
  }
}

@media (min-width: @desktop-width) {
  .banner {
    height: 518px;
    background-image:  url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");    
  background-size: 1200px 57px, cover;
  }

  .banner__img {
    width: 460px;
    height: 350px;
  }
}
