.intro__title {
  font-family: @font-family-title;
  font-weight: bold;
  .font-text(18px, 26px);
  color: @title-color;
}

.intro__text {
  .font-text(14px, 26px);

  &--inner {
    line-height: 24px;
  }
}
