.intro {
  padding-top: 30px;
  margin-bottom: 7px;
}

.intro__title {
  display: block;
  padding-top: 10px;
  margin-bottom: 15px;
  font-family: @font-family-title;
  font-weight: bold;
  .font-text(18px, 26px);
  color: @title-color;
  text-align: center;
}

.intro__text {
  padding-top: 10px;
  margin: 0;
  .font-text(14px, 26px);
  text-align: center;

  &--inner {
    line-height: 24px;
  }
}

@media (min-width: @tablet-width) {
  .intro {
    padding-top: 40px;
    margin-bottom: 50px;
  }

  .intro__title {
    width: 500px;
    margin: 0 auto 18px;
    .font-text(21px, 26px);
  }

  .intro__text {
    width: 500px;
    margin: 0 auto;
  }
}
