.main-nav {
  .font-text(18px; 40px);
  font-weight: bold;
  color: @white;
  background-color: @bgc-1;
}

.main-nav__list {
    .reset-list();
}

.main-nav__item {
  & a {
    text-decoration: none;
    color: @white;
  }
}
