.page-header {
  background-color: @white;
}

.page-header__main-nav {  
  padding-bottom: 55px;
  // min-height: 55px;
}

// .page-header__banner {
  // width: 100%; 
// }



@media (min-width: @tablet-width) {
.page-header__main-nav {   
  padding-bottom: 0; 
}

// .page-header__banner {
//   width: auto; 
// }

}

@media (min-width: @desktop-width) {
  // .page-header__banner {
  //   width: 1200px; 
  // }
 
}
