.page-header {
  background-color: @white;
}

.page-header__main-nav {
  padding-bottom: 56px;
}

@media (min-width: @tablet-width) {
  .page-header__main-nav {
    padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  // .page-header__banner {
  //   width: 1200px;
  // }
}
