.photo__list {
  .reset-list();
}

.photo__item {
  .font-text(14px, 24px);
}

.photo__title {
  font-family: @font-family-title;
  font-weight: bold;
  color: @title-color;
}

.photo__author {
  text-transform: none;
}

.photo__likes {
  font-family: @font-family-title;
  font-weight: bold;
  color: @title-color;
}
