.search {
  text-align: center;
}

.search__title {
  margin: 0;
  font-family: @font-family-title;
  font-weight: 700;
  .font-text(21px; 26px);
  color: @title-color;
}

.search__text {
  .font-text(14px; 21px);
}

.search__button {
  text-decoration: none;
}
