.video__list {
  .reset-list();
}

.video__item {
  position: relative;
  padding: 0;
}

.video__wrapper {
  width: auto;
  margin: 0 auto;
}

.video__img {
  display: block;
  width: 320px;
  height: 200px;
  margin: 0 auto;
  object-fit: cover;
}

.video__interface {
  position: absolute;
  bottom: -67px;
  left: 20px;
  width: 280px;
  background-color: rgba(0, 0, 0, 0.6);
}

.video__range-wrapper {
  position: relative;
  padding: 21px 20px 21px;
}

.video__range-scale {
  height: 3px;
  background: rgba(255, 255, 255, 0.2);
}

.video__range-bar {
  width: 17%;
  height: 3px;
  background: rgba(255, 255, 255, 0.2);
}

.video__range-handle {
  position: absolute;
  top: 22px;
  left: 21%;
  transform: translateY(-50%);
  width: 1px;
  height: 1px;
  padding: 0;
  border: 4px solid @white;
  border-radius: 50%;
  background-color: @white;
  box-sizing: content-box;
  cursor: pointer;
}

.video__button-wrapper {
  background-color: #f2f2f2;
  display: flex;
}

.video__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 66px;
  background-color: transparent;

  border: none;
  cursor: pointer;

  &--replay {
    margin-left: 10px;
  }

  &--fullscreen {
    margin-right: 10px;
  }

  &--subtitles {
    margin-right: 10px;
    margin-left: auto;
  }
}

.video__button path,
.video__button polygon {
  fill: #5c6870;
}

@media (min-width: @tablet-width) {
  .video {
    margin-bottom: 41px;
  }

  .video__list {
    display: flex;
    flex-wrap: wrap;
  }

  .video__img {
    width: 648px;
    height: 499px;
  }

  .video__button-wrapper {
    background-color: transparent;
  }

  .video__button {
    height: 92px;

    &--replay {
      margin-left: 21px;
    }

    &--fullscreen {
      margin-right: 27px;
    }
  }

  .video__interface {
    bottom: 0;
    left: 60px;
    width: 648px;
  }

  .video__range-wrapper {
    position: absolute;
    width: 390px;
    left: 45%;
    top: 23px;
    transform: translateX(-50%);
  }

  .video__range-bar {
    width: 27%;
  }

  .video__range-handle {
    left: 30%;
  }

  .video__button path,
  .video__button polygon {
    fill: @white;
  }
}

@media (min-width: @desktop-width) {
  .video {
    margin-bottom: 84px;
  }

  .video__img {
    width: 800px;
    height: 500px;
  }

  .video__interface {
    bottom: 0;
    width: 800px;
    left: 200px;
  }

  .video__range-wrapper {
    width: 540px;
  }

  .video__range-handle {
    top: 49%;
    left: 24%;
  }
}
